@page
@model WEB_953501_YURETSKI.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<button class="btn btn-outline-info mb-3 mt-3">
    <a asp-page="Create">
        <span class="fa fa-plus-circle">Добавить</span>
    </a>
</button>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Food) {
        <tr>
            <td>
                <img src="@Url.Action("GetImage", "Product", new {imageId = item.ImageId})" width="50">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image.Id)
            </td>
            <td>
                <div class="row">
                    <button class="btn btn-outline-info col-6">
                    <a asp-page="./Edit" asp-route-id="@item.Id">
                        <span class="fas fa-edit"></span>
                    </a>
                    </button>
                    <button class="btn btn-outline-danger col-6">
                        <a asp-page="./Delete" asp-route-id="@item.Id">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </button>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
