@using Microsoft.AspNetCore.Http
@using System.Net
@using System.Net.Http
@using WEB_953501_YURETSKI.Models
@using WEB_953501_YURETSKI.Entities
@using Newtonsoft.Json

@model ListModelView<Food>

<div class="row mt-5 mb-5">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Категории
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @{
                List<string> categories = ViewData["Categories"] as List<string>;
                categories.Insert(0, "Все");
                foreach(string category in categories)
                {
                    <a class="dropdown-item" asp-action="Index" asp-controller="Product" asp-route-category="@category">@category</a>
                }
            }
        </div>
    </div>
    <div class="row col-11" id="list">
        <partial name="_ListPartial" model="@Model" />
    </div>
</div>

<div id="product-pager">
    <partial name="_PagerPartial" model="@(new PagerData(){Pages = Model.Pages, Current = Model.Current, Category = @ViewData["Category"] as string})" />
</div>
<script>
    var page = @Model.Current;
    var pages = @Model.Pages;
    var category = "@Html.Raw(ViewData["Category"])";
</script>