@using Microsoft.AspNetCore.Http
@using System.Net
@using System.Net.Http
@using WEB_953501_YURETSKI.Models
@using WEB_953501_YURETSKI.Entities
@using Newtonsoft.Json

@model ListModelView<Food>

<div class="row mt-5 mb-5">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Категории
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @{
                List<string> categories = ViewData["categories"] as List<string>;
                categories.Insert(0, "Все");
                foreach(string category in categories)
                {
                    <a class="dropdown-item" asp-action="Index" asp-controller="Product" asp-route-category="@category">@category</a>
                }
            }
        </div>
    </div>
    @foreach(Food item in Model)
    {
        <partial name="_ProductPartial" model="@item" />
    }
</div>
<div class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item @(Model.Current != 1 ? "enabled" : "disabled")"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNo="@(Model.Current - 1)" asp-route-category="@ViewData["Category"]">Предыдущая</a></li>
        @if(Model.Current > 1)
        {
            <li class="page-item"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNo="1" asp-route-category="@ViewData["Category"]">1</a></li>
        }

        @if(Model.Current > 3)
        {
            <li class="page-item disabled"><a class="page-link">..</a></li>
        }

        @if(Model.Current > 2)
        {
            <li class="page-item"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNo="@(Model.Current - 1)" asp-route-category="@ViewData["Category"]" >@(Model.Current - 1)</a></li>
        }

        <li class="page-item active"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNo="@Model.Current" asp-route-category="@ViewData["Category"]">@Model.Current</a></li>

        @if(Model.Current < Model.Pages - 1)
        {
            <li class="page-item"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNo="@(Model.Current + 1)" asp-route-category="@ViewData["Category"]">@(Model.Current + 1)</a></li>
        }

        @if(Model.Current < Model.Pages - 2)
        {
            <li class="page-item disabled"><a class="page-link">..</a></li>
        }

        @if(Model.Current < Model.Pages)
        {
            <li class="page-item"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNo="@Model.Pages" asp-route-category="@ViewData["Category"]">@Model.Pages</a></li>
        }
        <li class="page-item @(Model.Current != Model.Pages ? "enabled" : "disabled")"><a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNo="@(Model.Current + 1)" asp-route-category="@ViewData["Category"]">Следующая</a></li>
    </ul>
</div>